In [52]:
import pandas as pd  
import numpy as np 
#display all columns of the dataframe
pd.options.display.max_columns = None
import warnings
warnings.filterwarnings('ignore')

In [54]:
# Load dataset
df = pd.read_csv(r"C:\Users\moham\diabetes+130-us+hospitals+for+years+1999-2008\diabetic_data.csv")

In [55]:
# Display first 5 rows
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [56]:
# checking dimension of the data
df.shape

(101766, 50)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [58]:
print('According to the data there are total 50 columns')
df_cat =  df.select_dtypes(include='object')
df_num =  df.select_dtypes(include=np.number)
print('Total categorical columns : ',len(df_cat.columns))
print('\n')
print('Categorical column names :',df_cat.columns)
print('\n')
print('Total numerical columns :',len(df_num.columns))
print('\n')
print('Numerical column names :',df_num.columns)

According to the data there are total 50 columns
Total categorical columns :  37


Categorical column names : Index(['race', 'gender', 'age', 'weight', 'payer_code', 'medical_specialty',
       'diag_1', 'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult', 'metformin',
       'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride',
       'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')


Total numerical columns : 13


Numerical column names : Index(['encounter_id', 'patient_nbr', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'number_diagnoses'],
      dtype='object')

In [59]:
# Check for missing values in each column
df.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [61]:
# For A1Cresult (from your screenshot 60)
df['A1Cresult'] = df['A1Cresult'].replace(['No', 'NONE', 'none'], 'None')
df['A1Cresult'] = df['A1Cresult'].fillna('None')

# For max_glu_serum
df['max_glu_serum'] = df['max_glu_serum'].fillna('None')

In [64]:
# Check for missing values in each column
df.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [65]:
# check for special characters
for i in df.columns:
    if df[i].dtype == object:
        print(i,df[i][df[i] == '?'].count())

race 2273
gender 0
age 0
weight 98569
payer_code 40256
medical_specialty 49949
diag_1 21
diag_2 358
diag_3 1423
max_glu_serum 0
A1Cresult 0
metformin 0
repaglinide 0
nateglinide 0
chlorpropamide 0
glimepiride 0
acetohexamide 0
glipizide 0
glyburide 0
tolbutamide 0
pioglitazone 0
rosiglitazone 0
acarbose 0
miglitol 0
troglitazone 0
tolazamide 0
examide 0
citoglipton 0
insulin 0
glyburide-metformin 0
glipizide-metformin 0
glimepiride-pioglitazone 0
metformin-rosiglitazone 0
metformin-pioglitazone 0
change 0
diabetesMed 0
readmitted 0

In [68]:
# checkinc percentage

for i in df.columns:
    print(i,df[i][df[i] == '?'].count()/len(df)*100)

encounter_id 0.0
patient_nbr 0.0
race 2.2335554114340743
gender 0.0
age 0.0
weight 96.85847925633315
admission_type_id 0.0
discharge_disposition_id 0.0
admission_source_id 0.0
time_in_hospital 0.0
payer_code 39.5574160328597
medical_specialty 49.08220820313268
num_lab_procedures 0.0
num_procedures 0.0
num_medications 0.0
number_outpatient 0.0
number_emergency 0.0
number_inpatient 0.0
diag_1 0.02063557573256294
diag_2 0.3517874339170253
diag_3 1.398305917497003
number_diagnoses 0.0
max_glu_serum 0.0
A1Cresult 0.0
metformin 0.0
repaglinide 0.0
nateglinide 0.0
chlorpropamide 0.0
glimepiride 0.0
acetohexamide 0.0
glipizide 0.0
glyburide 0.0
tolbutamide 0.0
pioglitazone 0.0
rosiglitazone 0.0
acarbose 0.0
miglitol 0.0
troglitazone 0.0
tolazamide 0.0
examide 0.0
citoglipton 0.0
insulin 0.0
glyburide-metformin 0.0
glipizide-metformin 0.0
glimepiride-pioglitazone 0.0
metformin-rosiglitazone 0.0
metformin-pioglitazone 0.0
change 0.0
diabetesMed 0.0
readmitted 0.0

In [70]:
# droping columns with large number of missing values
df = df.drop(['weight', 'medical_specialty', 'payer_code'],axis = 1)

In [72]:
# Displaying the statstical overview of the data
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [73]:
df['encounter_id'].nunique()

101766

In [75]:
df['patient_nbr'].nunique()

71518

In [76]:
# Droping not useful variables
df.drop(['encounter_id','patient_nbr'],axis=1,inplace=True)

In [77]:
df['race'].value_counts()

race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64

In [79]:
df['race'] = df['race'].replace('?',np.nan)

In [80]:
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', nan, 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [81]:
df['race'] = df['race'].fillna(df['race'].mode()[0])  # replacing with mode

In [83]:
df['race'].value_counts()

race
Caucasian          78372
AfricanAmerican    19210
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64

In [85]:
df['gender'].value_counts()

gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

In [90]:
|df['gender']=df['gender'].replace('Unknown/Invalid',np.nan)     # replacing invalid
df['gender'].dropna(inplace=True)

SyntaxError: invalid syntax (2561392287.py, line 1)

In [ ]:
df['gender']=df['gender'].replace('Unknown/Invalid',np.nan)     # replacing invalid
df['gender'].dropna(inplace=True)

In [ ]:
df['gender'].value_counts()

In [94]:
df['gender'].unique()

array(['Female', 'Male', 'Unknown/Invalid'], dtype=object)

In [96]:
df['gender']=df['gender'].fillna(df['gender'].mode()[0])

In [98]:
df['gender'].value_counts()

gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

In [100]:
df.replace('?',np.nan,inplace=True)
df.isnull().sum()

race                           0
gender                         0
age                            0
admission_type_id              0
discharge_disposition_id       0
admission_source_id            0
time_in_hospital               0
num_lab_procedures             0
num_procedures                 0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
diag_1                        21
diag_2                       358
diag_3                      1423
number_diagnoses               0
max_glu_serum                  0
A1Cresult                      0
metformin                      0
repaglinide                    0
nateglinide                    0
chlorpropamide                 0
glimepiride                    0
acetohexamide                  0
glipizide                      0
glyburide                      0
tolbutamide                    0
pioglitazone                   0
rosiglitazone                  0
acarbose                       0
miglitol                       0
troglitazone                   0
tolazamide                     0
examide                        0
citoglipton                    0
insulin                        0
glyburide-metformin            0
glipizide-metformin            0
glimepiride-pioglitazone       0
metformin-rosiglitazone        0
metformin-pioglitazone         0
change                         0
diabetesMed                    0
readmitted                     0
dtype: int64

In [101]:
df['age'].value_counts()

age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64

In [102]:
df['age'].unique()

array(['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)',
       '[60-70)', '[70-80)', '[80-90)', '[90-100)'], dtype=object)

In [104]:
df['age']=df['age'].replace({'[0-10)':5, '[10-20)':15, '[20-30)':25, '[30-40)':35, '[40-50)':45, '[50-60)':55,
       '[60-70)':65, '[70-80)':75, '[80-90)':85, '[90-100)':95})

In [107]:
df['age'].value_counts()

age
75    26068
65    22483
55    17256
85    17197
45     9685
35     3775
95     2793
25     1657
15      691
5       161
Name: count, dtype: int64

In [108]:
df['admission_type_id'].value_counts()

admission_type_id
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: count, dtype: int64

In [112]:
ID_map = pd.read_csv(r"C:\Users\moham\diabetes+130-us+hospitals+for+years+1999-2008\IDs_mapping.csv")
ID_map.loc[:,['admission_type_id','description']].head(8)

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available
5                 6            NaN
6                 7  Trauma Center
7                 8     Not Mapped

In [114]:
df['admission_type_id']=df['admission_type_id'].replace({1:'Emergency',2:'Emergency',7:'Emergency',
                                                         5:'Not Available',6:'Not Available',8:'Not Available',
                                                         3:'Elective',4:'Newborn'})
df['admission_type_id'].value_counts()

admission_type_id
Emergency        72491
Elective         18869
Not Available    10396
Newborn             10
Name: count, dtype: int64

In [116]:
df[df.loc[:,'admission_type_id'] == 'Newborn']

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
2043,Caucasian,Male,55,Newborn,1,4,2,56,2,13,0,0,0,414,411,401,5,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO
2203,Caucasian,Male,85,Newborn,1,4,2,46,6,14,0,0,0,414,411,401,6,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,>30
2461,AfricanAmerican,Male,75,Newborn,6,4,5,73,1,12,0,0,0,562,428,250.52,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4823,Caucasian,Female,65,Newborn,6,4,2,39,0,7,0,0,0,250.82,707,401,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,<30
35877,AfricanAmerican,Male,65,Newborn,1,14,3,66,0,18,0,0,0,276,427,V42,5,None,>7,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,NO
47548,Hispanic,Male,45,Newborn,1,7,6,39,4,7,0,0,0,870,873,873,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
48711,Caucasian,Female,75,Newborn,6,1,4,37,1,18,3,0,0,715,272,401,9,None,None,No,No,No,No,Steady,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,Ch,Yes,>30
80354,Hispanic,Female,5,Newborn,1,1,2,27,0,2,0,0,0,786,782,E941,6,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
87714,Caucasian,Male,65,Newborn,1,4,3,28,0,15,0,0,1,435,250,401,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,Steady,No,No,No,No,Ch,Yes,NO
100721,Asian,Male,85,Newborn,6,7,3,51,0,10,0,0,0,491,276,250.8,5,None,>7,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO

In [118]:
df.drop(df.index[df['admission_type_id'] == 'Newborn'], inplace = True)    # Drop Newborn

In [120]:
df['admission_type_id'].value_counts()

admission_type_id
Emergency        72491
Elective         18869
Not Available    10396
Name: count, dtype: int64

In [122]:
df['discharge_disposition_id'].value_counts()

discharge_disposition_id
1     60228
3     13954
6     12898
18     3691
2      2128
22     1993
11     1642
5      1184
25      989
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: count, dtype: int64

In [124]:
df['discharge_disposition_id'].unique()

array([25,  1,  3,  6,  2,  5, 11,  7, 10,  4, 14, 18,  8, 13, 12, 16, 17,
       22, 23,  9, 20, 15, 24, 28, 19, 27], dtype=int64)

In [126]:
df['discharge_disposition_id']=df['discharge_disposition_id'].replace({1:'Discharged to home',
                                                 6:'Discharged to home',
                                                 8:'Discharged to home',
                                                 2:'Transferred to another facility',  
                                                 3:'Transferred to another facility',
                                                 4:'Transferred to another facility',
                                                 5:'Transferred to another facility',
                                                16:'Transferred to another facility',
                                                22:'Transferred to another facility',
                                                23:'Transferred to another facility',
                                                24:'Transferred to another facility',
                                                27:'Transferred to another facility',
                                                28:'Transferred to another facility', 
                                                29:'Transferred to another facility',  
                                                30:'Transferred to another facility',
                                                 7:'Left AMA',
                                                 9:'Still patient/referred to this institution',        
                                                12:'Still patient/referred to this institution',
                                                15:'Still patient/referred to this institution',
                                                17:'Still patient/referred to this institution',
                                                10:'Neonate discharged',
                                                11:'Expired',
                                                19:'Expired',
                                                20:'Expired',  
                                                21:'Expired', 
                                                13:'Hospice',    
                                                14:'Hospice', 
                                                18:'Not Available',     
                                                25:'Not Available',  
                                                26:'Not Available'})

In [128]:
df['discharge_disposition_id'].value_counts()

discharge_disposition_id
Discharged to home                            73234
Transferred to another facility               20689
Not Available                                  4680
Expired                                        1652
Hospice                                         771
Left AMA                                        623
Still patient/referred to this institution      101
Neonate discharged                                6
Name: count, dtype: int64

In [130]:
df=df[df['discharge_disposition_id']!='Expired']
df=df[df['discharge_disposition_id']!='Neonate discharged']
df=df[df['discharge_disposition_id']!='Hospice']

In [131]:
df['discharge_disposition_id'].value_counts()

discharge_disposition_id
Discharged to home                            73234
Transferred to another facility               20689
Not Available                                  4680
Left AMA                                        623
Still patient/referred to this institution      101
Name: count, dtype: int64

In [134]:
df.columns

Index(['race', 'gender', 'age', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [136]:
# admission_source_id
df['admission_source_id'].value_counts()

admission_source_id
7     55845
1     29163
17     6570
4      3113
6      2239
2      1081
5       806
3       185
20      159
9       125
8        15
22       12
10        8
11        2
25        2
14        1
13        1
Name: count, dtype: int64

In [138]:
df['admission_source_id'].nunique()

17

In [140]:
df['admission_source_id']=df['admission_source_id'].replace({1:'Referral',2:'Referral',3:'Referral',

4:'Transferred from hospital',5:'Transferred from hospital',6:'Transferred from hospital',
                                                             
10:'Transferred from hospital',18:'Transferred from hospital',19:'Transferred from hospital',

25:'Transferred from hospital',26:'Transferred from hospital',22:'Transferred from hospital',

7:'Emergency', 8:'Emergency',

9:'Not Available',15:'Not Available',17:'Not Available',

20:'Not Available', 21:'Not Available',

11:'Delivery',12:'Delivery',13:'Delivery',14:'Delivery',23:'Delivery',24:'Delivery'})

In [142]:
df['admission_source_id'].value_counts()

admission_source_id
Emergency                    55860
Referral                     30429
Not Available                 6854
Transferred from hospital     6180
Delivery                         4
Name: count, dtype: int64

In [144]:
# Time-in_hospital
df['time_in_hospital'].value_counts(sort=False)

time_in_hospital
1     13824
3     17428
2     16887
4     13682
5      9747
13     1152
12     1383
9      2878
7      5696
10     2262
6      7354
11     1770
8      4269
14      995
Name: count, dtype: int64

In [146]:
df['time_in_hospital'].unique()

array([ 1,  3,  2,  4,  5, 13, 12,  9,  7, 10,  6, 11,  8, 14],
      dtype=int64)

In [148]:
df['num_lab_procedures'].unique()

array([ 41,  59,  11,  44,  51,  31,  70,  73,  68,  33,  47,  62,  60,
        55,  49,  75,  45,  29,  35,  42,  66,  36,  19,  64,  25,  53,
        52,  87,  27,  37,  28,  48,  10,   2,  65,  67,  40,  54,  58,
        57,  43,  32,  83,  34,  39,  69,  38,  72,  22,  96,  46,  78,
        56,  61,  88,  50,   1,  18,  82,   9,  63,  24,  71,  77,  81,
        76,  90,  93,   3, 103,  13,  80,  85,  16,  15,  12,  30,  23,
        17,  21,  79,  26,   5,  95,  97,  84,  14,  74, 105,  86,  98,
        20,   6,  94,   8, 102,   7,  89,  91,  92,   4, 101,  99, 100,
       114, 113, 111, 129, 107, 108, 106, 104, 109, 120, 132, 121, 126,
       118], dtype=int64)

In [150]:
print('The number of lab tests a patient has undergone can range from',df.num_lab_procedures.min(),'to',df.num_lab_procedures.max())

The number of lab tests a patient has undergone can range from 1 to 132

In [152]:
df.num_procedures.value_counts()

num_procedures
0    45672
1    20247
2    12369
3     9203
6     4800
4     4048
5     2988
Name: count, dtype: int64

In [154]:
print('The number of medications range from a minimum of',df.num_medications.min(),'to maximum of',df.num_medications.max())

The number of medications range from a minimum of 1 to maximum of 81

In [156]:
df['number_outpatient'].value_counts()

number_outpatient
0     82979
1      8349
2      3509
3      1996
4      1077
5       514
6       294
7       154
8        96
9        82
10       57
11       41
13       30
12       29
14       28
15       20
16       13
17        8
21        6
20        6
18        5
22        5
19        3
27        3
24        3
26        2
23        2
33        2
35        2
36        2
29        2
39        1
34        1
42        1
25        1
28        1
37        1
38        1
40        1
Name: count, dtype: int64

In [158]:
df['number_emergency'].value_counts()

number_emergency
0     88233
1      7474
2      1984
3       706
4       369
5       190
6        93
7        72
8        50
10       34
9        33
11       23
13       12
12       10
22        6
16        5
18        5
19        4
20        4
15        3
14        3
25        2
21        2
28        1
42        1
46        1
76        1
37        1
64        1
63        1
54        1
24        1
29        1
Name: count, dtype: int64

In [160]:
df['number_inpatient'].value_counts()

number_inpatient
0     66233
1     18981
2      7299
3      3271
4      1574
5       791
6       474
7       262
8       145
9       109
10       59
11       49
12       32
13       18
14       10
15        9
16        6
19        2
17        1
21        1
18        1
Name: count, dtype: int64

In [162]:
df['service_utilization'] = df['number_outpatient'] + df['number_emergency'] + df['number_inpatient']

In [164]:
df.drop(['number_outpatient','number_emergency','number_inpatient'],axis=1,inplace=True)

In [166]:
df.columns

Index(['race', 'gender', 'age', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'service_utilization'],
      dtype='object')

In [168]:
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,service_utilization
0,Caucasian,Female,5,Not Available,Not Available,Referral,1,41,0,1,250.83,NaN,NaN,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,0
1,Caucasian,Female,15,Emergency,Discharged to home,Emergency,3,59,0,18,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30,0
2,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency,2,11,5,13,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO,3
3,Caucasian,Male,35,Emergency,Discharged to home,Emergency,2,44,1,16,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO,0
4,Caucasian,Male,45,Emergency,Discharged to home,Emergency,1,51,0,8,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,0

In [170]:
df.isnull().sum()

race                           0
gender                         0
age                            0
admission_type_id              0
discharge_disposition_id       0
admission_source_id            0
time_in_hospital               0
num_lab_procedures             0
num_procedures                 0
num_medications                0
diag_1                        20
diag_2                       356
diag_3                      1419
number_diagnoses               0
max_glu_serum                  0
A1Cresult                      0
metformin                      0
repaglinide                    0
nateglinide                    0
chlorpropamide                 0
glimepiride                    0
acetohexamide                  0
glipizide                      0
glyburide                      0
tolbutamide                    0
pioglitazone                   0
rosiglitazone                  0
acarbose                       0
miglitol                       0
troglitazone                   0
tolazamide                     0
examide                        0
citoglipton                    0
insulin                        0
glyburide-metformin            0
glipizide-metformin            0
glimepiride-pioglitazone       0
metformin-rosiglitazone        0
metformin-pioglitazone         0
change                         0
diabetesMed                    0
readmitted                     0
service_utilization            0
dtype: int64

In [171]:
# drop diag_1,2,3
df=df.dropna(subset=['diag_1','diag_2','diag_3'])

In [174]:
df.isnull().sum()

race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
service_utilization         0
dtype: int64

In [175]:
df['number_diagnoses'].value_counts()

number_diagnoses
9     47799
5     11165
8     10305
7     10196
6      9967
4      5464
3      2804
16       42
13       16
10       16
11       11
15       10
12        8
14        6
Name: count, dtype: int64

In [178]:
df.max_glu_serum.value_counts()

max_glu_serum
None    92745
Norm     2504
>200     1398
>300     1162
Name: count, dtype: int64

In [180]:
df["max_glu_serum"] = df["max_glu_serum"].replace({">200":2,
                                                  ">300":2,
                                                   "Norm":1,
                                                  "None":0})

In [182]:
df.max_glu_serum.value_counts()

max_glu_serum
0    92745
2     2560
1     2504
Name: count, dtype: int64

In [184]:
 df['readmitted'] = df['readmitted'].replace({'>30' :0,'NO' :0, '<30' :1})

In [186]:
df['readmitted'].value_counts()

readmitted
0    86603
1    11206
Name: count, dtype: int64

In [188]:
df['A1Cresult'].unique()

array(['None', '>7', '>8', 'Norm'], dtype=object)

In [190]:
df['A1Cresult'].value_counts()

A1Cresult
None    81397
>8       7797
Norm     4867
>7       3748
Name: count, dtype: int64

In [192]:
df["A1Cresult"] = df['A1Cresult'].replace({"None":0,"Norm":1,">7":2,">8":2})

In [194]:
df['gender'] = df['gender'].replace({'Female':0,'Male':1})

In [196]:
df['change'].value_counts()

change
No    52349
Ch    45460
Name: count, dtype: int64

In [198]:
df['change'] = df['change'].replace({'No':0,'Ch':1})

In [200]:
df['diabetesMed'].value_counts()

diabetesMed
Yes    75500
No     22309
Name: count, dtype: int64

In [202]:
df.columns

Index(['race', 'gender', 'age', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'service_utilization'],
      dtype='object')

In [204]:
drug=list(df.iloc[:,16:39].columns)
drug

['metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone']

In [206]:
for i in drug:
    print(i,df[i].unique())

metformin ['No' 'Steady' 'Up' 'Down']
repaglinide ['No' 'Up' 'Steady' 'Down']
nateglinide ['No' 'Steady' 'Down' 'Up']
chlorpropamide ['No' 'Steady' 'Down' 'Up']
glimepiride ['No' 'Steady' 'Down' 'Up']
acetohexamide ['No' 'Steady']
glipizide ['No' 'Steady' 'Up' 'Down']
glyburide ['No' 'Steady' 'Up' 'Down']
tolbutamide ['No' 'Steady']
pioglitazone ['No' 'Steady' 'Up' 'Down']
rosiglitazone ['No' 'Steady' 'Up' 'Down']
acarbose ['No' 'Steady' 'Up' 'Down']
miglitol ['No' 'Steady' 'Down' 'Up']
troglitazone ['No' 'Steady']
tolazamide ['No' 'Steady' 'Up']
examide ['No']
citoglipton ['No']
insulin ['Up' 'No' 'Steady' 'Down']
glyburide-metformin ['No' 'Steady' 'Down' 'Up']
glipizide-metformin ['No' 'Steady']
glimepiride-pioglitazone ['No' 'Steady']
metformin-rosiglitazone ['No' 'Steady']
metformin-pioglitazone ['No' 'Steady']

In [208]:
df['citoglipton'].value_counts()

citoglipton
No    97809
Name: count, dtype: int64

In [210]:
df['examide'].value_counts()

examide
No    97809
Name: count, dtype: int64

In [212]:
df=df.drop(['citoglipton','examide'], axis = 1)

In [214]:
l1=['metformin','glipizide','insulin','glyburide']

In [216]:
for i in l1:
    print(i)
    print((df[i].value_counts(normalize=True)*100))

metformin
metformin
No        80.004908
Steady    18.355162
Up         1.064319
Down       0.575612
Name: proportion, dtype: float64
glipizide
glipizide
No        87.317118
Steady    11.347626
Up         0.778047
Down       0.557208
Name: proportion, dtype: float64
insulin
insulin
No        46.818800
Steady    30.145488
Down      11.972313
Up        11.063399
Name: proportion, dtype: float64
glyburide
glyburide
No        89.368054
Steady     9.251705
Up         0.815876
Down       0.564365
Name: proportion, dtype: float64

In [218]:
for i in l1:
    df[i]=df[i].apply(lambda x: 0 if (x== 'No' or x=='Steady') else 1)

In [220]:
df.insulin.value_counts()

insulin
0    75278
1    22531
Name: count, dtype: int64

In [222]:
df=df.drop(['repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone'],axis=1)

In [224]:
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,glipizide,glyburide,insulin,change,diabetesMed,readmitted,service_utilization
1,Caucasian,0,15,Emergency,Discharged to home,Emergency,3,59,0,18,276,250.01,255,9,0,0,0,0,0,1,1,Yes,0,0
2,AfricanAmerican,0,25,Emergency,Discharged to home,Emergency,2,11,5,13,648,250,V27,6,0,0,0,0,0,0,0,Yes,0,3
3,Caucasian,1,35,Emergency,Discharged to home,Emergency,2,44,1,16,8,250.43,403,7,0,0,0,0,0,1,1,Yes,0,0
4,Caucasian,1,45,Emergency,Discharged to home,Emergency,1,51,0,8,197,157,250,5,0,0,0,0,0,0,1,Yes,0,0
5,Caucasian,1,55,Emergency,Discharged to home,Referral,3,31,6,16,414,411,250,9,0,0,0,0,0,0,0,Yes,0,0

In [226]:
df.race.unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [228]:
race_dummies = pd.get_dummies(df['race'],drop_first=True)
race_dummies.head()

   Asian  Caucasian  Hispanic  Other
1  False       True     False  False
2  False      False     False  False
3  False       True     False  False
4  False       True     False  False
5  False       True     False  False

In [230]:
race_dummies = pd.get_dummies(df['race'],drop_first=True)
race_dummies = race_dummies.astype(int)

race_dummies.head()

   Asian  Caucasian  Hispanic  Other
1      0          1         0      0
2      0          0         0      0
3      0          1         0      0
4      0          1         0      0
5      0          1         0      0

In [232]:
df = pd.concat([df,race_dummies],axis=1)
df.drop(['race'], inplace=True,axis=1)
df.head()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,glipizide,glyburide,insulin,change,diabetesMed,readmitted,service_utilization,Asian,Caucasian,Hispanic,Other
1,0,15,Emergency,Discharged to home,Emergency,3,59,0,18,276,250.01,255,9,0,0,0,0,0,1,1,Yes,0,0,0,1,0,0
2,0,25,Emergency,Discharged to home,Emergency,2,11,5,13,648,250,V27,6,0,0,0,0,0,0,0,Yes,0,3,0,0,0,0
3,1,35,Emergency,Discharged to home,Emergency,2,44,1,16,8,250.43,403,7,0,0,0,0,0,1,1,Yes,0,0,0,1,0,0
4,1,45,Emergency,Discharged to home,Emergency,1,51,0,8,197,157,250,5,0,0,0,0,0,0,1,Yes,0,0,0,1,0,0
5,1,55,Emergency,Discharged to home,Referral,3,31,6,16,414,411,250,9,0,0,0,0,0,0,0,Yes,0,0,0,1,0,0

In [234]:
df.to_csv("Data_processing_First_[1].csv", index=False)