In [1]:
import pandas as pd  
import numpy as np 
#display all columns of the dataframe
pd.options.display.max_columns = None
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load dataset
df = pd.read_csv(r"C:\Users\moham\Data_processing_First_[1].csv")
df.head()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,glipizide,glyburide,insulin,change,diabetesMed,readmitted,service_utilization,Asian,Caucasian,Hispanic,Other
0,0,15,Emergency,Discharged to home,Emergency,3,59,0,18,276,250.01,255,9,0,0,0,0,0,1,1,Yes,0,0,0,1,0,0
1,0,25,Emergency,Discharged to home,Emergency,2,11,5,13,648,250,V27,6,0,0,0,0,0,0,0,Yes,0,3,0,0,0,0
2,1,35,Emergency,Discharged to home,Emergency,2,44,1,16,8,250.43,403,7,0,0,0,0,0,1,1,Yes,0,0,0,1,0,0
3,1,45,Emergency,Discharged to home,Emergency,1,51,0,8,197,157,250,5,0,0,0,0,0,0,1,Yes,0,0,0,1,0,0
4,1,55,Emergency,Discharged to home,Referral,3,31,6,16,414,411,250,9,0,0,0,0,0,0,0,Yes,0,0,0,1,0,0

In [5]:
df.shape

(97809, 27)

In [7]:
df['diabetesMed'] = df['diabetesMed'].replace({'Yes': 1, 'No': 0})

In [9]:
df.head()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,glipizide,glyburide,insulin,change,diabetesMed,readmitted,service_utilization,Asian,Caucasian,Hispanic,Other
0,0,15,Emergency,Discharged to home,Emergency,3,59,0,18,276,250.01,255,9,0,0,0,0,0,1,1,1,0,0,0,1,0,0
1,0,25,Emergency,Discharged to home,Emergency,2,11,5,13,648,250,V27,6,0,0,0,0,0,0,0,1,0,3,0,0,0,0
2,1,35,Emergency,Discharged to home,Emergency,2,44,1,16,8,250.43,403,7,0,0,0,0,0,1,1,1,0,0,0,1,0,0
3,1,45,Emergency,Discharged to home,Emergency,1,51,0,8,197,157,250,5,0,0,0,0,0,0,1,1,0,0,0,1,0,0
4,1,55,Emergency,Discharged to home,Referral,3,31,6,16,414,411,250,9,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97809 entries, 0 to 97808
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    97809 non-null  object
 1   age                       97809 non-null  int64
 2   admission_type_id         97809 non-null  object
 3   discharge_disposition_id  97809 non-null  object
 4   admission_source_id       97809 non-null  object
 5   time_in_hospital          97809 non-null  int64
 6   num_lab_procedures        97809 non-null  int64
 7   num_procedures            97809 non-null  int64
 8   num_medications           97809 non-null  int64
 9   diag_1                    97809 non-null  object
 10  diag_2                    97809 non-null  object
 11  diag_3                    97809 non-null  object
 12  number_diagnoses          97809 non-null  int64
 13  max_glu_serum             97809 non-null  int64
 14  A1Cresult                 97809 non-null  int64
 15  metformin                 97809 non-null  int64
 16  glipizide                 97809 non-null  int64
 17  glyburide                 97809 non-null  int64
 18  insulin                   97809 non-null  int64
 19  change                    97809 non-null  int64
 20  diabetesMed               97809 non-null  int64
 21  readmitted                97809 non-null  int64
 22  service_utilization       97809 non-null  int64
 23  Asian                     97809 non-null  int64
 24  Caucasian                 97809 non-null  int64
 25  Hispanic                  97809 non-null  int64
 26  Other                     97809 non-null  int64
dtypes: int64(20), object(7)
memory usage: 20.1+ MB

In [13]:
df['admission_type_id'].value_counts()

admission_type_id
Emergency        69489
Elective         18345
Not Available     9975
Name: count, dtype: int64

In [15]:
df['admission_type_id'].unique()

array(['Emergency', 'Elective', 'Not Available'], dtype=object)

In [17]:
df['admission_type_id']=df['admission_type_id'].replace({'Emergency':0,'Elective':1,'Not Available':2})

In [19]:
df['discharge_disposition_id'].value_counts()

discharge_disposition_id
Discharged to home                            71932
Transferred to another facility               20574
Not Available                                  4598
Left AMA                                        604
Still patient/referred to this institution      101
Name: count, dtype: int64

In [21]:
df['discharge_disposition_id']=df['discharge_disposition_id'].replace({'Discharged to home':0,'Transferred to another facility':1,
                                                                       'Not Available':2,
                                                                       'Left AMA':3,
                                                                       'Still patient/referred to this institution':4})

In [23]:
df['discharge_disposition_id'].value_counts()

discharge_disposition_id
0    71932
1    20574
2     4598
3      604
4      101
Name: count, dtype: int64

In [25]:
df['admission_source_id'].value_counts()

admission_source_id
Emergency                    55166
Referral                     29881
Not Available                 6743
Transferred from hospital     6015
Delivery                         4
Name: count, dtype: int64

In [27]:
df=df[df['admission_source_id']!='Delivery']

In [29]:
df['admission_source_id'].value_counts()

admission_source_id
Emergency                    55166
Referral                     29881
Not Available                 6743
Transferred from hospital     6015
Name: count, dtype: int64

In [31]:
df['admission_source_id']=df['admission_source_id'].replace({'Emergency':0,'Referral':1,
                                                            'Not Available':2,'Transferred from hospital':3})

In [33]:
df['admission_source_id'].value_counts()

admission_source_id
0    55166
1    29881
2     6743
3     6015
Name: count, dtype: int64

In [35]:
df.head()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,glipizide,glyburide,insulin,change,diabetesMed,readmitted,service_utilization,Asian,Caucasian,Hispanic,Other
0,0,15,0,0,0,3,59,0,18,276,250.01,255,9,0,0,0,0,0,1,1,1,0,0,0,1,0,0
1,0,25,0,0,0,2,11,5,13,648,250,V27,6,0,0,0,0,0,0,0,1,0,3,0,0,0,0
2,1,35,0,0,0,2,44,1,16,8,250.43,403,7,0,0,0,0,0,1,1,1,0,0,0,1,0,0
3,1,45,0,0,0,1,51,0,8,197,157,250,5,0,0,0,0,0,0,1,1,0,0,0,1,0,0
4,1,55,0,0,1,3,31,6,16,414,411,250,9,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97805 entries, 0 to 97808
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    97805 non-null  object
 1   age                       97805 non-null  int64
 2   admission_type_id         97805 non-null  int64
 3   discharge_disposition_id  97805 non-null  int64
 4   admission_source_id       97805 non-null  int64
 5   time_in_hospital          97805 non-null  int64
 6   num_lab_procedures        97805 non-null  int64
 7   num_procedures            97805 non-null  int64
 8   num_medications           97805 non-null  int64
 9   diag_1                    97805 non-null  object
 10  diag_2                    97805 non-null  object
 11  diag_3                    97805 non-null  object
 12  number_diagnoses          97805 non-null  int64
 13  max_glu_serum             97805 non-null  int64
 14  A1Cresult                 97805 non-null  int64
 15  metformin                 97805 non-null  int64
 16  glipizide                 97805 non-null  int64
 17  glyburide                 97805 non-null  int64
 18  insulin                   97805 non-null  int64
 19  change                    97805 non-null  int64
 20  diabetesMed               97805 non-null  int64
 21  readmitted                97805 non-null  int64
 22  service_utilization       97805 non-null  int64
 23  Asian                     97805 non-null  int64
 24  Caucasian                 97805 non-null  int64
 25  Hispanic                  97805 non-null  int64
 26  Other                     97805 non-null  int64
dtypes: int64(23), object(4)
memory usage: 20.9+ MB

In [39]:
df.loc[df['diag_1'].str.contains('V',na=False),['diag_1']]=8
df.loc[df['diag_1'].str.contains('E',na=False),['diag_1']]=8
df.loc[df['diag_2'].str.contains('V',na=False),['diag_2']]=8
df.loc[df['diag_2'].str.contains('E',na=False),['diag_2']]=8
df.loc[df['diag_3'].str.contains('V',na=False),['diag_3']]=8
df.loc[df['diag_3'].str.contains('E',na=False),['diag_3']]=8

In [41]:
df['diag_1']=df['diag_1'].astype('float')
df['diag_2']=df['diag_2'].astype('float')
df['diag_3']=df['diag_3'].astype('float')

In [43]:
for j in ['diag_1','diag_2','diag_3']:
    for i in range(0,len(df)):
        if (np.floor(df.loc[i,j]) == 250):
            df.loc[i, j]= 0 #Diabetes
        elif (df.loc[i, j] > 390 and df. loc[i, j] < 460) or (np.floor(df.loc[i,j]) == 785):
            df.loc[i, j]= 1 #Circulatory
        elif (df.loc[i, j] >= 460 and df. loc[i, j] < 520) or (np.floor(df.loc[i,j]) == 786):
            df.loc[i, j] = 2 #Respiratory
        elif (df.loc[i, j] >= 520 and df. loc[i, j] < 580) or (np.floor(df.loc[i,j]) == 787):
            df.loc[i, j] = 3 #Digestive
        elif (df.loc[i, j] >= 800 and df. loc[i, j] < 1000):
            df.loc[i, j] = 4 #Injury
        elif (df.loc[i, j] >= 710 and df. loc[i, j] < 740):
             df.loc[i, j] = 5 #Musculoskelet
        elif (df.loc[i, j] >= 580 and df.loc[i, j] < 630) or (np.floor(df.loc[i, j]) == 788):
            df.loc[i, j] = 6 #Genitourinary
        elif (df.loc[i, j] >= 140 and df. loc[i, j] < 240):
             df.loc[i, j] = 7 #Neoplasms
        else:
            df.loc[i, j] = 8  #others

KeyError: 80066

In [48]:
for j in ['diag_1', 'diag_2', 'diag_3']:
    for i in range(len(df)):
        val = df.iloc[i][j]
        if pd.isna(val):
            continue
        val = float(val)
        if (np.floor(val) == 250):
            df.iloc[i, df.columns.get_loc(j)] = 0  # Diabetes
        elif (390 < val < 460) or (np.floor(val) == 785):
            df.iloc[i, df.columns.get_loc(j)] = 1  # Circulatory
        elif (460 <= val < 520) or (np.floor(val) == 786):
            df.iloc[i, df.columns.get_loc(j)] = 2  # Respiratory
        elif (520 <= val < 580) or (np.floor(val) == 787):
            df.iloc[i, df.columns.get_loc(j)] = 3  # Digestive
        elif (800 <= val < 1000):
            df.iloc[i, df.columns.get_loc(j)] = 4  # Injury
        elif (710 <= val < 740):
            df.iloc[i, df.columns.get_loc(j)] = 5  # Musculoskelet
        elif (580 <= val < 630) or (np.floor(val) == 788):
            df.iloc[i, df.columns.get_loc(j)] = 6  # Genitourinary
        elif (140 <= val < 240):
            df.iloc[i, df.columns.get_loc(j)] = 7  # Neoplasms
        else:
            df.iloc[i, df.columns.get_loc(j)] = 8  # Others

In [50]:
for i in ['diag_1','diag_2','diag_3']:
    print(df[i].unique())

[8. 4. 1. 2. 0. 3. 6. 7. 5.]
[0. 7. 1. 2. 8. 4. 5. 6. 3.]
[8. 1. 0. 2. 4. 7. 6. 5. 3.]

In [52]:
df['diag_1']=df['diag_1'].astype('int')
df['diag_2']=df['diag_2'].astype('int')
df['diag_3']=df['diag_3'].astype('int')

In [54]:
df.head()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,glipizide,glyburide,insulin,change,diabetesMed,readmitted,service_utilization,Asian,Caucasian,Hispanic,Other
0,0,15,0,0,0,3,59,0,18,8,0,8,9,0,0,0,0,0,1,1,1,0,0,0,1,0,0
1,0,25,0,0,0,2,11,5,13,8,0,8,6,0,0,0,0,0,0,0,1,0,3,0,0,0,0
2,1,35,0,0,0,2,44,1,16,8,0,1,7,0,0,0,0,0,1,1,1,0,0,0,1,0,0
3,1,45,0,0,0,1,51,0,8,8,7,0,5,0,0,0,0,0,0,1,1,0,0,0,1,0,0
4,1,55,0,0,1,3,31,6,16,8,1,0,9,0,0,0,0,0,0,0,1,0,0,0,1,0,0